@page "/productos/crear"
@inject IHttpServicio http
@inject NavigationManager navigationManager


<h3>Nuevo Producto</h3>

<FormProducto product="producto" onValidSubbmit="Grabar" onCancel="Cancelar"/>


@code {
	private Producto producto = new Producto();

	private async Task Grabar()
	{
		ProductoDTO productoDTO = new()
			{
				CodProducto = producto.CodProducto,
				NombreProducto = producto.NombreProducto,
				PrecioProducto = producto.PrecioProducto,
				Stock = producto.Stock
			};
		var httpRespuesta = await http.Post<ProductoDTO>("api/Producto", productoDTO);

		if (httpRespuesta.Error)
		{
			var body = httpRespuesta.HttpResponseMessage;
		}
	}
	private void Cancelar()
	{
		navigationManager.NavigateTo("/productos");
	}
}
