@page "/"

<PageTitle>Inicio</PageTitle>

<h1>¡Hola! bienvenido al sistema de inventario del negocio</h1>


Guia rapida de funcionamiento:

A la izquierda podra seleccionar  la seccion productos o ventas, 